body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    margin: 2rem;
    font-size: 2.5rem;
    font-weight: 500;
    color: rgb(10, 28, 80);
}
form{
    display: flex;
    justify-content: center;
    margin: 20px 0;

}
label {
    color: #648880;
    cursor: pointer;
    font-weight: 400;
    display: block;
  }
  input{
    border: 1px solid #c6c9cc;
    border-radius: 5px;
    color: #888;
    width: 20rem;
    height: 1.9rem;
    margin-top: 0.52rem;
    margin-bottom: 2.5rem;
    
  }
  .description{
      font-size: 0.6em;
  }
.account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    border: 0.5px solid rgb(184, 194, 211);
    border-radius: 5px;

}
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 0.9em;
    color: #888;
}
h3{
    color: rgb(11, 33, 66);
    font-size: 1.6rem;
    font-weight: 400;
}
span{
   text-align: center;
   line-height: 22px;
}
#createBtn {
    padding: 0.9rem 6.5rem;
    border: none;
    font-size: 1.2em;
    font-weight: 400;
    border-radius: 5px;
    background-color: rgb(72, 110, 192);
    color: white;
    box-shadow: 2px 3px 15px 2px rgb(222, 231, 255);
    cursor: pointer;
}
.terms{
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 22px;
    color: #888;
    font-style: italic;
    margin: 10px 25px;
}